<div class="container col-md-9 col-md-offset-2">
  <div>
    <div class="navbar-form" role="search" style = "width:100%; margin-left:-5%">
      <div class="input-group add-on">
        <%= form_tag(csv_path, method: 'get', class: 'navbar-form navbar-right',id: "search-form",style: "width:100%") do %>
          <%= autocomplete_field_tag 'name',nil, autocomplete_path, :size => 75,class: 'form-control', placeholder: 'Charity Name', style: "width:80%"%>
          <%= submit_tag "Submit", class: 'btn btn-default col-md-2', :name => nil, style: "text-align:center" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
